body{
    width:100%;
    height:100%;
}

.user__js input {
    display: none;
}

.showing{
    display: flex !important;
}

.bgFull {
    position: absolute;
    top:0;
    left:0;
    background-size: cover;
    z-index: -1;
}